<plugin
        id="pl.gdynia.amw.corda.vp.plugin"
        name="Generate Corda Code"
        description="Generate Corda Code"
        provider="Jakub Bednarski, Tomasz Gorski @ AMW"
        class="pl.gdynia.amw.corda.vp.plugin.CordaGenerator">

    <actionSets>
        <contextSensitiveActionSet id="pl.gdynia.amw.uml2corda.plugin.actionset">
            <contextTypes all="false">
                <include type="Package"/>
            </contextTypes>
            <action
                    id="pl.gdynia.amw.corda.vp.plugin.node.NodesGeneratorContextActionController"
                    label="Generate Nodes configuration"
                    style="normal"
                    menuPath="OpenSpecification">
                <actionController class="pl.gdynia.amw.corda.vp.plugin.node.NodesGeneratorContextActionController"/>
            </action>
        </contextSensitiveActionSet>

        <contextSensitiveActionSet id="pl.gdynia.amw.uml2corda.plugin.actionset2">
            <contextTypes all="false">
                <include type="Node"/>
            </contextTypes>
            <action
                    id="pl.gdynia.amw.corda.vp.plugin.node.NodeGeneratorContextActionController"
                    label="Generate Node configuration"
                    style="normal"
                    menuPath="OpenSpecification">
                <actionController class="pl.gdynia.amw.corda.vp.plugin.node.NodeGeneratorContextActionController"/>
            </action>
        </contextSensitiveActionSet>
    </actionSets>

</plugin>